@charset "UTF-8";
/* CSS Document */
/* Adam Vinsant */
/* VFW 1207 */
/* Project 1 */


html {
	background:#0F9;
	overflow:scroll;
}

header {
	margin: 5px;
	background-image:url(../img/gradient1.png);
	border:solid 3px #330099;
	border-radius: 15px;
}

h1 {
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	border-radius: 15px;
	margin: 5px;
	padding:5px;
	background-image:url(../img/honeydobkg.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#005;
	text-shadow:#eee 2px 3px 4px;
	border:#330099 solid 3px;
	text-align: center;	
}

a.index {
	color:#005;
	text-decoration:none;	
}

form {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	padding: 10px;
	margin: 5px;
	border:solid 3px #330099;
	border-radius: 15px;
	background-image: url(../img/gradient2.png);
}

fieldset {
	
	padding: 10px;
	border:#330099 solid 5px;
	background-image:url(../img/honeydobkg.png);	
}

legend {
	font-style: italic;
	font-weight:bold;
	color:#0F9;
	text-shadow: #005 1px 2px 3px;
	text-transform:uppercase;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	border-radius: 15px;
	padding: 20px;
	background-image:url(../img/buttonbkg.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#eee;
	border:#0F9 solid 5px;
	text-align: center;		
}

select {
	background:#eee;
	border-radius:15px;
	width: 100%;
}	

ul {
	font-weight: bold;
	color: #005;
	line-height: 200%;
}

label {
	display:block;
        font-weight:bold;	
}


input.chorename {
		border-radius: 10px;
		width:90%;
}

input.finishby {
		border-radius: 10px;
		width:100%;
}

label.chorelabel {
	color: #005;
	
}

textarea.chorenotes {
		border-radius: 10px;
		width:90%;
}

p {
	color:#005;
}

span {
	font-size:12px;	
}

input.difficulty {
	border-radius:15px;
}

textarea {
	display:block;
}

input.submit {
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	border-radius: 15px;
	margin-top: 5px;
	padding: 20px;
	background-image:url(../img/buttonbkg.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#eee;
	border:#0F9 solid 5px;
	text-align: center;
	width:100%;
        text-transform: uppercase;
	text-shadow: #005 1px 2px 3px;
}


input.reset {
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	border-radius: 15px;
	margin-top: 5px;
	padding: 20px;
	background-image:url(../img/buttonbkg.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#eee;
	border:#0F9 solid 5px;
	text-align: center;
	width:100%;
        text-transform: uppercase;
	text-shadow: #005 1px 2px 3px;
}


a.display {
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	border-radius: 15px;
	margin-top: 5px;
	padding: 20px;
	background-image:url(../img/buttonbkg.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#eee;
	border:#0F9 solid 5px;
	text-align: center;
        text-transform: uppercase;
	text-shadow: #005 1px 2px 3px;
}

a.clear {
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	border-radius: 15px;
	margin-top: 5px;
	padding: 20px;
	background-image:url(../img/buttonbkg.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#eee;
	border:#0F9 solid 5px;
	text-align: center;
        text-transform: uppercase;
	text-shadow: #005 1px 2px 3px;
}
