@charset "UTF-8";
/* CSS Document */
/* Adam Vinsant */
/* VFW 1207 */
/* Project 1 */

html {
	background-image:url(../img/honeydobkg.png);
	background-repeat:repeat-x;
	overflow:scroll;

	
}
header {
	margin: 5px;
	background-image:url(../img/gradient1.png);
	border:solid 3px #330099;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
}


h1 {
	text-align: center;
	font-family:"Comic Sans MS", cursive;
	color: #0F9;
	text-shadow:#306 2px 3px 2px;
}

p {
	text-align:center;
	font-family:"Comic Sans MS", cursive;
	color:#0F9;
	font-size: 20px;
	margin:10px;
	text-shadow:#306 2px 3px 2px;
}
img.cta {
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
}
div {
	border:solid 3px #330099;
	margin: 5px;
	padding: 20px;	
	background-image:url(../img/gradient2.png);
	-moz-border-radius: 15px;
	border-radius: 15px;
	
}
