@charset "UTF-8";
/* CSS Document */
/* Adam Vinsant */
/* VFW 1207 */
/* Project 1 */

html {
	background-color: #BBB
}
h1 {
	text-align:center;
	font-family:"Comic Sans MS", cursive;
	color:#EEEEEE;
	background-color: #555;
	
}
h2 {
	font-family:"Comic Sans MS", cursive;
	color:#EEEEEE;	
}