@charset "UTF-8";
/* CSS Document */
/* Adam Vinsant */
/* VFW 1207 */
/* Project 1 */

html {
	width: 100%;
	height:auto;
	background:#AAAAAA;
	overflow:scroll;
	
}

form {
	font-family:Arial, Helvetica, sans-serif;
	padding: 10px;
	margin: 10px;
	border:solid black 2px;
	background:#EEEEEE;
	
}

fieldset {
	padding: 10px;
	margin: 5px;
	
}

h1 {
	text-align:center;
	font-family:"Comic Sans MS", cursive;
	color:#EEEEEE;
	background:#555;
	padding: 20px;
	margin: 0px;
	border:solid 2px white;
	
	
}

h2 {
	font-family:"Comic Sans MS", cursive;
	color:#EEEEEE;	
}

li {
	font-weight: bold;	
}

legend {
	font-style: italic;
	font-weight:bold;
	border: dashed black 2px;	
}
